@import "tailwindcss";

:root {
  --background: #222;
  --foreground: #eee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

button {
  background-color: #fff;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}

input {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  color: black;
}
