.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;

    background: linear-gradient(135deg, #f5f5f5 0%, #cfcfcf 100%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}